html {
  height: 100%;
}

body {
  background-color: #1a1a1a;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.page-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .page-container {
    height: auto;
    padding: 30px 0 40px 0;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 800px;
  margin: 0 60px;
}

@media only screen and (max-width: 550px) {
  .content-container {
    height: auto;
    justify-content: flex-start;
    margin: 0 30px;
  }
}

.title {
  color: #d3d3d3;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1.title {
  font-size: 55px;
  margin: 0 0 5px 0;
}

@media only screen and (max-width: 550px) {
  h1.title {
   font-size: 41px;
   text-align: center;
   margin: 0;
  }
}

h2.title {
  font-size: 25px;
  margin: 40px 0 10px 0;
}

@media only screen and (max-width: 550px) {
  h2.title {
   font-size: 23px;
   text-align: center;
   margin: 15px 0 5px 0;
  }
}

.content {
  color: #d3d3d3;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 550px) {
  .content {
     font-size: 15px;
     text-align: center;
  }
}

.link {
  color: #909090;
  text-decoration: none;
  display: inline-block;
}

p.link {
  margin: 0px;
}

.link:hover {
  color: #d3d3d3;
}

.links-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 550px) {
  .links-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.links-content {
  display: block;
  flex-direction: column;
}

@media only screen and (max-width: 550px) {
  .links-content {
    margin-top: 1px;
  }
}

.arrow {
  position: relative;
  left: -25px;
}

@media only screen and (max-width: 550px) {
  .arrow-mobile {
    display: none;
  }

  .arrow {
    left: 0;
  }
}
